*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url('../images/autumn.jpg');
    background-size: cover;
}

.wrapper{
    margin: 5% auto;
    width: 600px;
    background-color: black;
    opacity: 0.8;
    border-radius: 2%;
}

.parent{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
   
}

.parent h1{
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
    border-bottom: 0.5px solid coral;
    padding-bottom: 5%;
}

.parent p{
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    margin: 5%;
}
#copyRights{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgray;
}


#home{
    margin-top: 1%;
    margin-left: 1%;
}
#home:hover{
    background-color: coral;
    border-color: #DDD1FF;
    border-radius: 8%;

}


